.box-team {
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.box-team h1 {
    font-size: 18px;
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 6px;
}

.box-team .input-color {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.box-team .box-contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}